body{
  background-color: antiquewhite;
}
.projects-container {
    text-align: center;
    margin: 20px auto;
}

.project-item {
    margin: 10px;
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
}
.project-item:hover {
    animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.projects-button {
    background-color: #444; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
  }
  
  .projects-button i {
    transition: transform 0.3s ease-in-out; 
  }
  
  .projects-button:hover {
    background-color: #555; 
    transform: translateY(-3px); 
  }
  
  .projects-button:hover i {
    transform: translateX(5px); 
  }

